
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: none;
}

.blue {
background: #6699ff;
  height: 700px;
  width: 33%;
  float: left;
}

.teal {
  background: #2EFEC8;
  height: 700px;
  width: 33%;
  float: left;
}

.green {
  background: #CCFF99;
  height: 500px;
  width: 33%;
  float: left;
}

.red-text {
  background: #e60000;
  height: 200px;
  width: 33%;
  float: left;
}

p {
  color: white;
  text-align: center;
}

.text {
  margin-top: 90px;
  margin-left: 25%;
  width: 50%;
  height: 25%;
}
